body
{
    background-image: url('menuImg/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    overflow: hidden;
    min-width: 1000px;
}

h1
{
    font-family: 'Lucida Handwriting', cursive;
    color:rgba(34, 36, 36, 0.822);
    text-align: center;
    font-size: 30px;
    margin-top: 35px;
}

a
{
    font-family: 'Papyrus', fantasy;
    font-size: 28px;
    color: rgba(34, 36, 36, 0.822);
    transition: 0.5s;
}

a:hover
{
    color: #000000;
}

.table
{
    margin-top: 55px;
    border-collapse: collapse;
    width: 100%;
}

.td
{
    width:20%;
    text-align: center;
}

.displayDiv
{
    height: calc(65vh - 50px); 
    width: 80%;
    margin-left: 20%;
    /* border: 2px black solid; */
    opacity: 1;
    animation-fill-mode: forwards;
    transition: 1s;
}
