.container
{
  width: 20%;
  height: 250px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;
  text-align: center;
  min-width: 200px;
}

.sidepanel 
 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    z-index: 1;
    height: 0px;
    top: 250;
    background-color:rgba(34, 36, 36, 0.822,0.2);
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.7s;
  }
  
.sidepanel a 
{
    margin-top: 10px;
    text-decoration: none;
    font-size: 25px;
    color: rgba(34, 36, 36, 0.822);
    display: block;
    transition: 0.2s;
    text-align: center;
}
  
.sidepanel a:hover 
{
    color: #ffffff;
}
  
  
